@media screen and (max-width: 1200px){
  .insights{
    &-item{
      &__media{
        max-width: calc(50% - 12px);
        a, img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__desc{
        max-width: calc(50% - 12px);
      }
    }
  }
  .article{
    &-inner{
      max-width: calc(100% - 310px) ;
      &__media{
        img{
          width: 100%;
        }
      }
    }
    &-sidebar__post-item{
      padding: 20px 16px;
    }
  }
  .info-item{
    &__media{
      img{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .form-bottom {
    margin: 0;
  }
  .progress-item{
    padding: 0 24px;
    &__line{
      width: 80%;
    }
    &__title{
      text-align: left;
      &:last-of-type{
        text-align: right;
      }
    }
  }
  .form-tab{
    &__item{
      height: auto;
      max-height: 100%;
    }
  }
  .tab{
    &-item{
      width: calc(100% - 16px);
    }
    &-inners{
      height: auto;
    }
  }
  .article{
    .container{
      flex-wrap: wrap;
    }

    &-inner{
      max-width: 100%;
      margin-bottom: 56px;
      &__title{
        font-size: 32px;
        line-height: 40px;
      }
    }
    &-sidebar{
      max-width: 100%;
      &__post{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-item{
          width: calc(50% - 10px);
        }
      }
    }
  }
  .hero{
    &-title{
      font-size: 44px;
      line-height: 120%;
    }
    &-text{
      font-size: 18px;
      line-height: 28px;
    }
  }
  .about{
    &-inner{
      margin: -60px 0 0;
      padding: 32px;
    }
  }
  .title-section{
    font-size: 32px;
    line-height: 44px;
  }
  .text-section{
    font-size: 18px;
    line-height: 28px;
  }
  .service{
    .container{
      flex-wrap: wrap;
      padding: 0 32px;
    }
    &-item{
      width: 50%;
      padding: 48px 24px;
      border-bottom: 1px solid #eef1f4;
      &:nth-of-type(2n+2){
        border-right-color: transparent;
      }
      &:nth-child(3), &:nth-child(4){
        border-bottom-color: transparent;
      }
    }
  }
  .banner-inner{
    &__title{
      font-size: 30px;
      line-height: 130%;
    }
  }
  .why-item{
    width: 50%;
    border-bottom: 1px solid #eef1f4;
    &:nth-child(-n+2){
      width: 50%;
    }
    &:nth-child(2n){
      border-right: 0;
    }
    &:nth-of-type(5){
      padding-left: 0;
      border-bottom: 0;
    }
  }
  .header{
    padding: 16px 0;
    &-logo{
      max-width: 128px;
      a, img{
        width: 100%;
      }
    }
    &-btn{
      margin: 0 0 0 auto;
      width: 21px;
      height: 14px;
      position: relative;
      &:before, &:after, span{
        position: absolute;
        width: 100%;
        left: 0;
        transition: all ease 300ms;
        height: 2px;
        background: $white;
      }
      &:before, &:after{
        content: '';
      }
      &:before{
        top: 0;
      }
      &:after{
        top: calc(100% - 2px);
      }
      span{
        top: 50%;
        margin-top: -1px;
      }
      &.active{
        span{
          opacity: 0;
          right: -100%;
        }
        &:before, &:after{
          top: 50%;
          margin-top: -1px;
        }
        &:before{
          transform: rotate(45deg);
        }
        &:after{
          transform: rotate(-45deg);
        }
      }
    }
  }
  .form-inner {
    padding: 0 12px;
  }
}
@media screen and (max-width: 768px){
  .form{
    &-item__links-item{
      width: calc(100% - 24px);
      margin: 0 12px 16px;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  .info{
    &-wrap{
      flex-wrap: wrap;
    }
    &-item{
      width: calc(100% - 32px);
    }
  }
  .comparisons{
    &-wrap{
      margin: 0;
    }
    &-item{
      width: 100%;
      padding: 24px 16px;
      margin: 0 0 32px;
    }
  }
  .banner-inner__title{
    font-size: 22px;
    line-height: 130%;
  }
  .why {
    .title-section{
      width: 100%;
      text-align: center;
      margin-bottom: 16px;
    }
    .title-text{
      width: 100%;
    }
    &-item{
      padding: 20px 24px;
    }
  }
  .top-section{
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 640px){
  .form{
    &-wrap__contact{
      .form-inner{flex-direction: column-reverse;height: auto;}
    }
    &-item{
      width: calc(100% - 24px);
      margin-bottom: 24px;
      &:first-of-type{
        margin-bottom: 0;
      }
    }
  }
  .contact-page{
    .container{
      flex-wrap: wrap;
    }
    .contact-map{
      width: 100%;
      padding: 0;
      margin-bottom: 32px;
    }
    .contact-info{
      width: 100%;
      padding: 0;
    }
  }
  .insights{
    &-item{
      &:nth-of-type(n){
        flex-direction: column;

      }
      &__media{
        max-width: 100%;
      }
      &__desc{
        max-width: 100%;
      }
    }
  }
  .hero{
    &-title{
      font-size: 32px;
      line-height: 48px;
    }
  }
  .info{
    &-item{
      &__desc{
        padding: 20px 16px;
      }
    }
  }
  .title-section{
    font-size: 28px;
  }
  .banner-inner__title{
    font-size: 18px;
    line-height: 27px;
  }
  .why{
    &-item{
      width: 100%;
      &:nth-of-type(n){
        width: 100%;
        padding: 20px 16px;
        border-right: 0;
      }
    }
  }
  .footer{
    &-nav{
      padding: 48px 0 28px;
      flex-wrap: wrap;
      li{
        width: 50%;
        margin-right: 0;
        padding-right: 10px;
        margin-bottom: 20px;
      }
    }
    &-bottom{
      flex-direction: column;
    }
    &-copy{
      text-align: center;
    }
  }
}
@media screen and (max-width: 480px){
  .article{
    &-sidebar{
      &__post{
        &-item{
          width: 100%;
        }
      }
    }
  }
  .hero{
    &-title{
      font-size: 28px;
      line-height: 36px;
    }
  }
  .title-section{
    font-size: 24px;
    line-height: 32px;
  }
  .about{
    &-inner{
      padding: 32px 0;
    }
    &-text{
      font-size: 14px;
      line-height: 21px;
      p{
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .service{
    .container{
      padding: 0 24px;
    }
    &-item{
      width: 100%;
      padding: 16px 8px;
      border-bottom: 1px solid #eef1f4;
      border-right: 0 !important;
      &:nth-child(3){
        border-bottom: 1px solid #eef1f4;
      }
    }
  }
  .banner {
    .container{
      padding: 0;
      min-height: 465px;
    }
    &-inner{
      padding: 8px;
      &__title{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .footer-social {
    a{
      flex-direction: column;
      .image{
        margin: 0 0 5px;
      }
    }
  }
}