@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/Museo-Sans/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl 300"), local("MuseoSansCyrl-300"), url("../fonts/Museo-Sans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo-Sans/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/Museo-Sans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/Museo-Sans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sabon LTS td";
  src: url("../fonts/Sabon-LT-Std/SabonLTStd-Bold.eot");
  src: local("SabonLTStd Bold"), local("SabonLTStd-Bold"), url("../fonts/Sabon-LT-Std/SabonLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Sabon-LT-Std/SabonLTStd-Bold.woff2") format("woff2"), url("../fonts/Sabon-LT-Std/SabonLTStd-Bold.woff") format("woff"), url("../fonts/Sabon-LT-Std/SabonLTStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("../fonts/Goldman-Sans/Goldman-Sans-Bold.eot");
  src: local("Goldman-Sans- Bold"), local("Goldman-Sans-Bold"), url("../fonts/Goldman-Sans/Goldman-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Goldman-Sans/Goldman-Sans-Bold.woff2") format("woff2"), url("../fonts/Goldman-Sans/Goldman-Sans-Bold.woff") format("woff"), url("../fonts/Goldman-Sans/Goldman-Sans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("../fonts/Goldman-Sans/Goldman-Sans-Italic.eot");
  src: local("Goldman-Sans- Italic"), local("Goldman-Sans-Italic"), url("../fonts/Goldman-Sans/Goldman-Sans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Goldman-Sans/Goldman-Sans-Italic.woff2") format("woff2"), url("../fonts/Goldman-Sans/Goldman-Sans-Italic.woff") format("woff"), url("../fonts/Goldman-Sans/Goldman-Sans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("../fonts/Goldman-Sans/Goldman-Sans-Light.eot");
  src: local("Goldman-Sans- Light"), local("Goldman-Sans-Light"), url("../fonts/Goldman-Sans/Goldman-Sans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Goldman-Sans/Goldman-Sans-Light.woff2") format("woff2"), url("../fonts/Goldman-Sans/Goldman-Sans-Light.woff") format("woff"), url("../fonts/Goldman-Sans/Goldman-Sans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("../fonts/Goldman-Sans/Goldman-Sans-Medium.eot");
  src: local("Goldman-Sans- Medium"), local("Goldman-Sans-Medium"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium.woff2") format("woff2"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium.woff") format("woff"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("../fonts/Goldman-Sans/Goldman-Sans-Medium-Italic.eot");
  src: local("Goldman-Sans-Medium Italic"), local("Goldman-Sans-Medium-Italic"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium-Italic.woff2") format("woff2"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium-Italic.woff") format("woff"), url("../fonts/Goldman-Sans/Goldman-Sans-Medium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Goldman Sans";
  src: url("../fonts/Goldman-Sans/Goldman-Sans-Regular.eot");
  src: local("Goldman-Sans- Medium Regular"), local("Goldman-Sans-Regular"), url("../fonts/Goldman-Sans/Goldman-Sans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Goldman-Sans/Goldman-Sans-Regular.woff2") format("woff2"), url("../fonts/Goldman-Sans/Goldman-Sans-Regular.woff") format("woff"), url("../fonts/Goldman-Sans/Goldman-Sans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  font-family: "Goldman Sans";
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  height: 100vh;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

.page-wrapper {
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

section.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (max-width: 1920px) {
  section.wrapper {
    max-width: 1920px;
  }
}

.container {
  flex: 1 0 auto;
  z-index: 10;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  flex: 0 0 auto;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column;
  }
}
@-moz-document url-prefix() {
  .wrapper {
    height: auto;
  }
  html,
  body {
    height: auto;
  }
  input[type=number] {
    padding: 5px !important;
  }
}
ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  color: #3E5463;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 896px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    max-width: 1120px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1256px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sabon LTS td";
  font-weight: bold;
}

h1 {
  font-size: 64px;
  line-height: 120%;
  color: #3E5463;
}

h2 {
  font-size: 54px;
  line-height: 100%;
  color: #3E5463;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: #3E5463;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: #3E5463;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: #3E5463;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: #3E5463;
}

p {
  font-size: 14px;
  line-height: 23px;
}

img {
  display: block;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}

button {
  cursor: pointer;
}

.btn-primary {
  color: #ffffff;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  padding: 14px 48px 12px 24px;
  transition: all ease 300ms;
  position: relative;
}
.btn-primary:before {
  position: absolute;
  content: "";
  transition: all ease 300ms;
  right: 16px;
  top: 6px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29492 16.59L12.8749 12L8.29492 7.41L9.70492 6L15.7049 12L9.70492 18L8.29492 16.59Z' fill='white'/%3E%3C/svg%3E%0A");
}
.btn-primary:hover {
  padding: 14px 24px 12px 48px;
}
.btn-primary:hover:before {
  right: calc(100% - 40px);
}

.btn-secondary {
  color: #1C2B36;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  border-radius: 2px;
  border: 1px solid #9FB1BD;
  padding: 14px 48px 12px 24px;
  transition: all ease 300ms;
  position: relative;
}
.btn-secondary:before {
  position: absolute;
  content: "";
  transition: all ease 300ms;
  right: 16px;
  top: 6px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.29492 16.59L12.8749 12L8.29492 7.41L9.70492 6L15.7049 12L9.70492 18L8.29492 16.59Z' fill='%231C2B36'/%3E%3C/svg%3E%0A");
}
.btn-secondary:hover {
  padding: 14px 24px 12px 48px;
}
.btn-secondary:hover:before {
  right: calc(100% - 40px);
}

.btn-link {
  color: #FFF;
  border-radius: 2px;
  background: #06335E;
  text-align: center;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 150% */
  padding: 13px 24px 11px;
  border: 1px solid #06335E;
}
.btn-link:hover {
  background: transparent;
  color: #06335E;
}

.btn-more {
  border-radius: 2px;
  border: 1px solid #0D1826;
  padding: 13px 24px 11px;
  color: #0D1826;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
.btn-more:hover {
  background: #0D1826;
  color: #ffffff;
}

.title-section {
  margin-bottom: 24px;
  text-align: center;
  color: #06335E;
  font-family: "Sabon LTS td";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.title-section span {
  color: #446191;
}

.text-section {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
}

.main-text {
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 155.556%;
  color: #3E5463;
}
.main-text p {
  margin-bottom: 20px;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 155.556%;
}
.main-text p:last-of-type {
  margin-bottom: 0;
}

.tabs-item, .product-tab__item, .size-tabs__item {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  margin-top: 50px;
  opacity: 0;
  transition: margin-top 0.7s ease, opacity 0.4s ease;
}
.tabs-item.active, .product-tab__item.active, .size-tabs__item.active {
  visibility: visible;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: 1;
}

body.scroll {
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  z-index: 2;
  transition: all ease 300ms;
  width: 100%;
}
.header.before-scroll-nav {
  top: -100px;
}
.header.scroll-nav, .header.page-nav {
  top: 0;
  position: fixed;
  background: rgba(6, 51, 94, 0.8);
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 32px;
}
.header-nav ul {
  display: flex;
}
.header-nav li {
  margin: 0 20px;
}
.header-nav a {
  padding: 28px 0 24px;
  color: #ffffff;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
.header-nav a:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  background: #fff;
}
.header-nav a:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.header-button {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 992px) {
  .header .header-button {
    position: fixed;
    bottom: 64px;
    right: 12px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all ease 300ms;
  }
  .header .header-nav {
    position: absolute;
    transition: all ease 300ms;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    right: 0;
  }
  .header .header-nav ul {
    flex-direction: column;
  }
  .header .header-nav a {
    padding: 0 0 14px;
  }
  .header .header-nav a:after {
    height: 2px;
    bottom: 6px;
  }
  .header:after {
    position: absolute;
    content: "";
    right: 200px;
    top: 100%;
    transition: all ease 300ms;
    height: 100vh;
    width: calc(100% - 200px);
    z-index: -1;
  }
  .header:before {
    position: absolute;
    content: "";
    right: 0;
    top: 100%;
    height: 100vh;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: rgba(6, 51, 94, 0.8);
    transition: all ease 300ms;
  }
  .header.active {
    background: rgba(6, 51, 94, 0.8);
  }
  .header.active:before {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
  .header.active:after {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .header.active .header-nav {
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }
  .header.active .header-button {
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }
}
.footer {
  background: #090F14;
}
.footer-nav {
  padding: 48px 0;
  display: flex;
  align-items: center;
}
.footer-nav li {
  margin-right: 48px;
}
.footer-nav a {
  color: #ffffff;
  font-family: "Goldman Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.footer-nav a:hover {
  color: #5B7282;
}
.footer-bottom {
  border-top: 1px solid #5B7282;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  padding: 32px 0;
  display: flex;
  align-items: center;
}
.footer-social li {
  margin-right: 24px;
}
.footer-social a {
  display: flex;
  align-items: center;
  color: #EEF1F4;
  font-family: "Museo Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.footer-social a:hover {
  color: #5B7282;
}
.footer-social .image {
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding: 1px;
  transition: all ease 300ms;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 8px;
}
.footer-copy {
  color: #FFF;
  font-family: "Goldman Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  color: #ffffff;
  font-family: "Sabon LTS td";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.hero-text {
  color: #EEF1F4;
  font-family: "Goldman Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.about {
  padding: 0;
}
.about-inner {
  background: #ffffff;
  margin: -190px 0 0;
  padding: 64px;
}
.about-inner .title-section {
  text-align: center;
}
.about-text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.about-text p {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 20px;
}
.about-text p:last-of-type {
  margin-bottom: 0;
}

.service .container {
  display: flex;
  max-width: 1600px;
  padding: 0 64px;
}
.service-item {
  width: 25%;
  padding: 48px;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #EEF1F4;
}
.service-item:last-of-type {
  border-right: 1px solid transparent;
}
.service-item__media {
  margin-bottom: 32px;
}
.service-item__media img {
  max-width: 48px;
  margin: 0 auto;
}
.service-item__title {
  color: #06335E;
  font-family: "Sabon LTS td";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}
.service-item__text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}

.info .title-section {
  margin-bottom: 72px;
}
.info-wrap {
  display: flex;
  margin: 0 -16px;
}
.info-item {
  width: calc(50% - 32px);
  margin: 0 16px;
}
.info-item__desc {
  box-sizing: border-box;
  padding: 40px 48px;
  text-align: center;
}
.info-item__title {
  color: #06335E;
  font-family: "Sabon LTS td";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}
.info-item__text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.comparisons .text-section {
  margin-bottom: 44px;
  text-align: center;
}
.comparisons-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.comparisons-item {
  width: calc(50% - 32px);
  margin: 0 16px 32px;
  padding: 24px;
  box-sizing: border-box;
  border-top: 1px solid #EEF1F4;
}
.comparisons-item__media {
  margin-bottom: 40px;
}
.comparisons-item__media img {
  max-width: 48px;
}
.comparisons-item__subtitle {
  margin-bottom: 16px;
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
.comparisons-item__title {
  color: #1C2B36;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}
.comparisons-item__text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.banner {
  padding: 0;
  background-size: cover;
  background-position: center;
}
.banner .container {
  padding: 40px 32px;
  min-height: 685px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner-inner {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 24px;
}
.banner-inner__title {
  color: #ffffff;
  font-family: "Sabon LTS td";
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
}
.banner-inner__author {
  color: #ffffff;
  font-family: "Goldman Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.banner-inner__author span {
  display: block;
}

.why {
  padding: 96px 0 0;
}
.why .top-section {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.why .title-section {
  text-align: left;
  width: 50%;
}
.why .title-text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 50%;
}
.why-wrap {
  margin: 0 -16px;
  display: flex;
  flex-wrap: wrap;
}
.why-item {
  width: calc(33.333% - 32px);
  border-right: 1px solid #EEF1F4;
  padding: 40px 48px;
}
.why-item:nth-child(-n+2) {
  width: calc(50% - 32px);
  border-bottom: 1px solid #EEF1F4;
}
.why-item:nth-of-type(1), .why-item:nth-of-type(3) {
  padding-left: 0;
}
.why-item:nth-of-type(2) {
  border-right: 0;
  padding-right: 0;
}
.why-item:nth-of-type(5) {
  border-right: 0;
  padding-right: 0;
}
.why-item__title {
  color: #06335E;
  font-family: "Sabon LTS td";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}
.why-item__title span {
  color: #F58025;
}
.why-item__text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}

.contact {
  background: #F2F5F7;
  padding: 100px 0;
}
.contact .title-section {
  margin-bottom: 32px;
}
.contact .title-section span {
  display: block;
}
.contact .link-block {
  text-align: center;
}

.article {
  padding: 136px 0 56px;
}
.article .container {
  display: flex;
  justify-content: space-between;
}
.article-inner {
  max-width: 808px;
  width: 100%;
}
.article-inner__subtitle {
  color: #3E5463;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.article-inner__title {
  color: #1C2B36;
  font-family: "Goldman Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 133.333% */
  margin-bottom: 16px;
}
.article-inner__authors {
  color: #186ADE;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 24px;
}
.article-inner__media {
  padding-top: 8px;
  margin-bottom: 24px;
  border-top: 1px solid #EEF1F4;
}
.article-inner__media-title {
  color: #3E5463;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  margin-top: 8px;
}
.article-inner__text {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.article-inner__text p {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.article-inner__text h2 {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
  margin-bottom: 16px;
}
.article-inner__text h3 {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  margin-bottom: 16px;
}
.article-inner__text h4 {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  margin-bottom: 16px;
}
.article-inner__text h5 {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 16px;
}
.article-inner__text a {
  color: #186ADE;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  position: relative;
  line-height: 24px;
}
.article-inner__text a:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  transition: all ease 300ms;
  background: #186ADE;
  width: 0;
  height: 1px;
}
.article-inner__text a:hover:before {
  width: 100%;
}
.article-inner__text table {
  margin-bottom: 16px;
  border-spacing: 0;
  width: 100%;
  text-align: left;
}
.article-inner__text table th {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 0;
  border-bottom: 1px solid #9FB1BD;
}
.article-inner__text table td {
  color: #1C2B36;
  font-family: "Goldman Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 0;
  border-bottom: 1px solid #DCE3E8;
}
.article-inner__text table tfoot td {
  border-top: 1px solid #5B7282;
}
.article-inner__text span {
  color: #3E5463;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: block;
  margin-bottom: 24px;
}
.article-inner__text img {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}
.article-inner__text blockquote {
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 133.333% */
  margin-bottom: 16px;
}
.article-inner__text hr {
  height: 1px;
  background: #C1CCD6;
}
.article-sidebar {
  max-width: 288px;
  width: 100%;
}
.article-sidebar__inner {
  position: sticky;
  top: 100px;
}
.article-sidebar__title {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  margin-bottom: 24px;
}
.article-sidebar__tag {
  margin-bottom: 32px;
}
.article-sidebar__tag ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.article-sidebar__tag a {
  padding: 5px 8px 3px;
  border: 1px solid #D4E4FA;
  background: #D4E4FA;
  color: #0D4EA6;
  font-family: "Goldman Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 20px;
  line-height: 14px;
  margin: 0 8px 12px;
}
.article-sidebar__tag a:hover {
  background: transparent;
}
.article-sidebar__post-item {
  border-radius: 2px;
  border: 1px solid #C1CCD6;
  background: #FFF;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
}
.article-sidebar__post-subtitle {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.25px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.article-sidebar__post-title {
  color: #1C2B36;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Goldman Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  margin-bottom: 16px;
}
.article-sidebar__post-desc {
  color: #1C2B36;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 16px;
}

.insights {
  padding: 176px 0 96px;
}
.insights .title-section {
  margin-bottom: 16px;
}
.insights .text-section {
  color: #3E5463;
  text-align: center;
  font-family: "Goldman Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 96px;
}
.insights-wrap {
  margin-bottom: 96px;
}
.insights-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 128px;
}
.insights-item:last-of-type {
  margin-bottom: 0;
}
.insights-item:nth-of-type(2n + 2) {
  flex-direction: row-reverse;
}
.insights-item__media {
  max-width: 581px;
}
.insights-item__desc {
  max-width: 483px;
}
.insights-item__subtitle {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
  margin-bottom: 8px;
}
.insights-item__title {
  color: #1C2B36;
  font-family: "Sabon LTS td";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  margin-bottom: 16px;
}
.insights-item__title a {
  color: #1C2B36;
  font-family: "Sabon LTS td";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  margin-bottom: 16px;
}
.insights-item__text {
  color: #3E5463;
  font-family: "Goldman Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  margin-bottom: 24px;
}
.insights .link-section {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .insights-item__media {
    max-width: calc(50% - 12px);
  }
  .insights-item__media a, .insights-item__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .insights-item__desc {
    max-width: calc(50% - 12px);
  }
  .article-inner {
    max-width: calc(100% - 310px);
  }
  .article-inner__media img {
    width: 100%;
  }
  .article-sidebar__post-item {
    padding: 20px 16px;
  }
  .info-item__media img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .article .container {
    flex-wrap: wrap;
  }
  .article-inner {
    max-width: 100%;
    margin-bottom: 56px;
  }
  .article-inner__title {
    font-size: 32px;
    line-height: 40px;
  }
  .article-sidebar {
    max-width: 100%;
  }
  .article-sidebar__post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article-sidebar__post-item {
    width: calc(50% - 10px);
  }
  .hero-title {
    font-size: 44px;
    line-height: 120%;
  }
  .hero-text {
    font-size: 18px;
    line-height: 28px;
  }
  .about-inner {
    margin: -60px 0 0;
    padding: 32px;
  }
  .title-section {
    font-size: 32px;
    line-height: 44px;
  }
  .text-section {
    font-size: 18px;
    line-height: 28px;
  }
  .service .container {
    flex-wrap: wrap;
    padding: 0 32px;
  }
  .service-item {
    width: 50%;
    padding: 48px 24px;
    border-bottom: 1px solid #eef1f4;
  }
  .service-item:nth-of-type(2n+2) {
    border-right-color: transparent;
  }
  .service-item:nth-child(3), .service-item:nth-child(4) {
    border-bottom-color: transparent;
  }
  .banner-inner__title {
    font-size: 30px;
    line-height: 130%;
  }
  .why-item {
    width: 50%;
    border-bottom: 1px solid #eef1f4;
  }
  .why-item:nth-child(-n+2) {
    width: 50%;
  }
  .why-item:nth-child(2n) {
    border-right: 0;
  }
  .why-item:nth-of-type(5) {
    padding-left: 0;
    border-bottom: 0;
  }
  .header {
    padding: 16px 0;
  }
  .header-logo {
    max-width: 128px;
  }
  .header-logo a, .header-logo img {
    width: 100%;
  }
  .header-btn {
    margin: 0 0 0 auto;
    width: 21px;
    height: 14px;
    position: relative;
  }
  .header-btn:before, .header-btn:after, .header-btn span {
    position: absolute;
    width: 100%;
    left: 0;
    transition: all ease 300ms;
    height: 2px;
    background: #ffffff;
  }
  .header-btn:before, .header-btn:after {
    content: "";
  }
  .header-btn:before {
    top: 0;
  }
  .header-btn:after {
    top: calc(100% - 2px);
  }
  .header-btn span {
    top: 50%;
    margin-top: -1px;
  }
  .header-btn.active span {
    opacity: 0;
    right: -100%;
  }
  .header-btn.active:before, .header-btn.active:after {
    top: 50%;
    margin-top: -1px;
  }
  .header-btn.active:before {
    transform: rotate(45deg);
  }
  .header-btn.active:after {
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 768px) {
  .info-wrap {
    flex-wrap: wrap;
  }
  .info-item {
    width: calc(100% - 32px);
  }
  .comparisons-wrap {
    margin: 0;
  }
  .comparisons-item {
    width: 100%;
    padding: 24px 16px;
    margin: 0 0 32px;
  }
  .banner-inner__title {
    font-size: 22px;
    line-height: 130%;
  }
  .why .title-section {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
  .why .title-text {
    width: 100%;
  }
  .why-item {
    padding: 20px 24px;
  }
  .top-section {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  .insights-item:nth-of-type(n) {
    flex-direction: column;
  }
  .insights-item__media {
    max-width: 100%;
  }
  .insights-item__desc {
    max-width: 100%;
  }
  .hero-title {
    font-size: 32px;
    line-height: 48px;
  }
  .info-item__desc {
    padding: 20px 16px;
  }
  .title-section {
    font-size: 28px;
  }
  .banner-inner__title {
    font-size: 18px;
    line-height: 27px;
  }
  .why-item {
    width: 100%;
  }
  .why-item:nth-of-type(n) {
    width: 100%;
    padding: 20px 16px;
    border-right: 0;
  }
  .footer-nav {
    padding: 48px 0 28px;
    flex-wrap: wrap;
  }
  .footer-nav li {
    width: 50%;
    margin-right: 0;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-copy {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .article-sidebar__post-item {
    width: 100%;
  }
  .hero-title {
    font-size: 28px;
    line-height: 36px;
  }
  .title-section {
    font-size: 24px;
    line-height: 32px;
  }
  .about-inner {
    padding: 32px 0;
  }
  .about-text {
    font-size: 14px;
    line-height: 21px;
  }
  .about-text p {
    font-size: 14px;
    line-height: 21px;
  }
  .service .container {
    padding: 0 24px;
  }
  .service-item {
    width: 100%;
    padding: 16px 8px;
    border-bottom: 1px solid #eef1f4;
    border-right: 0 !important;
  }
  .service-item:nth-child(3) {
    border-bottom: 1px solid #eef1f4;
  }
  .banner .container {
    padding: 0;
    min-height: 465px;
  }
  .banner-inner {
    padding: 8px;
  }
  .banner-inner__title {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-social a {
    flex-direction: column;
  }
  .footer-social a .image {
    margin: 0 0 5px;
  }
}